
<style type="text/css" media="screen">
.sparkTracer{
	height:auto; 
	display:block; 
	white-space:pre-wrap;
	font-size:13px;
	line-height:18px;
	overflow:auto;
	text-align:left;
	color:#8f9d6a;
	font-weight:normal;
	overflow:auto;
	padding:20px;
	font-family:"Monaco",Verdana,Arial,sans-serif;
	background-color:#2b2b2c;
}

.sparkTracer .key, .sparkTracerDebugBacktrace strong{
	color:#d8ce84;
}
.sparkTracerDebugBacktrace,.sparkTracerLastQuery{
	display:block;
	padding: 8px 0px 8px 8px;
	background-color:#222;
	color:#c26549;
	display:block;
	border:1px solid #444;
	border-style:inset;
}

.sparkTracerLastQuery{
	margin-top:20px;
	color:#7485a4;
}

</style>